@media (max-width: 405px)
  .nav-footer
    li
      margin-bottom: 10px

      &:nth-child(3)
        a
          padding-right: 0 !important

      &:last-child
        padding: 0 10px !important
        border:
          left: none
          top: 1px solid #fff

        a
          display: block
          padding-top: 10px
