/* Built on Saturday, June 27th, 2015, 5:47:00 PM */
a{color:#6d5cae}a:hover{color:#9b8fc7}[name="spamtrap"]{display:none}.checkbox label{white-space:inherit}@media (max-width: 405px){.nav-footer li{margin-bottom:10px}.nav-footer li:nth-child(3) a{padding-right:0 !important}.nav-footer li:last-child{padding:0 10px !important;border-left:none;border-top:1px solid #fff}.nav-footer li:last-child a{display:block;padding-top:10px}}
